<div class="divPrincipal">
    <h1> FUNCIONALIDADES DO PROJETO </h1>
    <ul>
          <li> Ao clicar no botão "Consumir API" você será redirecionado a uma listagem com os
               dados dos estados brasileiros que contraíram Coronavírus (COVID-19). Esta listagem
               foi retirada através do consumo de uma API
               localizada em: <a href="https://covid19-brazil-api.now.sh/api/report/v1">
                Covid 19 - Brasil</a>
          </li>
          <li> Ao clicar no botão "Drag & Drop" você será direcionado a uma listagem de cursos,
               as quais você poderá ordenar (arrastando o mouse dentro de um contâiner pré-determinado).
               As propriedades utilizadas foram: <b>cdkDragBoundary </b> para manter o item da lista
               dentro do contâiner, <b> cdkDropList e cdkDropListDropped </b> para apagar e movimentar
               o item para nova posição, respectivamente.
          </li>
          <li>  Ao clicar no botão "Reactive Forms", irá aparecer para você um formulário simples.
                Quando clicar no botão "ENVIAR" será exibido um texto (formato JSON) com as informações
                anteriormente digitadas no formulário. Em seu desenvolvimento foram utilizadas
                as seguintes propriedades: <b> FormGroup </b>, para agrupar o formulário e a
                propriedade <b> FormControl </b>, que relaciona os campos do formulário com
                as informações digitadas pelo usuário.
          </li>
          <br><br>
          <b> Autor: Franklin Tadeu Hanemann</b>

    </ul>
</div>
